AuthType Basic
AuthName "Thats protected Area!"
AuthUserFile /path_to/.htpasswd
Require valid-user
<Files .htpasswd>
   deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
